In [2]:
pip install pandas kagglehub

Requirement already satisfied: pandas in /usr/local/python/3.12.1/lib/python3.12/site-packages (3.0.0)
Requirement already satisfied: kagglehub in /usr/local/python/3.12.1/lib/python3.12/site-packages (0.4.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: kagglesdk<1.0,>=0.1.14 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from kagglehub) (0.1.15)
Requirement already satisfied: packaging in /home/codespace/.local/lib/python3.12/site-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in /home/codespace/.local/lib/python3.12/site-packages (from kagglehub) (6.0.3)
Requirement already satisfied: requests in /home/codespace/.local/lib/python3.12/site-packages (from kagglehub) (2.32.5)
Requirement already satisfied: tqdm in /usr/local/python/3.12.1/lib/python3.12/site-packages (from kagglehub) (4.67.3)
Requirement already satisfied: protobuf in /usr/local/python/3.12.1/lib/python3.12/site-packages (from kagglesdk<1.0,>=0.1.14->kagglehub) (6.33.5)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/codespace/.local/lib/python3.12/site-packages (from requests->kagglehub) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.12/site-packages (from requests->kagglehub) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/codespace/.local/lib/python3.12/site-packages (from requests->kagglehub) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.12/site-packages (from requests->kagglehub) (2025.11.12)

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd 
import kagglehub
import os

path = kagglehub.dataset_download("yaninapetrongari/crime-california-work-reboot")

print("Path to dataset files:", path)

# 2. Automatically find the CSV file in the path
files = [f for f in os.listdir(path) if f.endswith('.csv')]
if not files:
    raise FileNotFoundError("No CSV file found in the downloaded folder!")

csv_path = os.path.join(path, files[0])
print(f"Loading: {csv_path}")

# 3. Load the data
df = pd.read_csv(csv_path)

# List of keywords to identify columns for removal
keywords = [
    "Month", "DR_NO", "Mocodes", "Vict Descent", "Premis Cd", 
    "Weapon Used Cd", "Weapon Desc", "Status", "Status Desc", 
    "AREA NAME", "Part 1-2", "Date Rptd", "TIME OCC2", "LOCATION"]

# Drop all columns that contain any of the keywords
df = df.drop(columns=[col for col in df.columns if any(word in col for word in keywords)])

df

Downloading to /home/codespace/.cache/kagglehub/datasets/thedevastator/violent-crime-in-ca/2.archive...

100%|██████████| 779k/779k [00:00<00:00, 47.2MB/s]

Extracting files...
Path to dataset files: /home/codespace/.cache/kagglehub/datasets/thedevastator/violent-crime-in-ca/versions/2
Loading: /home/codespace/.cache/kagglehub/datasets/thedevastator/violent-crime-in-ca/versions/2/rows.csv

,index,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,...,numerator,denominator,ratex1000,LL_95CI,UL_95CI,se,rse,CA_decile,RR_city2state,version
0,0,752,Number of Violent Crimes per 1000 Population,2006,9,Total,CA,6,California,NaN,...,194116.0,36457549.0,5.320000,5.300000,5.350000,0.010000,0.230000,NaN,1.00,14APR13:11:23:30
1,1,752,Number of Violent Crimes per 1000 Population,2007,9,Total,CA,6,California,NaN,...,191013.0,36565220.0,5.220000,5.200000,5.250000,0.010000,0.230000,NaN,1.00,14APR13:11:23:30
2,2,752,Number of Violent Crimes per 1000 Population,2008,9,Total,CA,6,California,NaN,...,185172.0,36997046.0,5.010000,4.980000,5.030000,0.010000,0.230000,NaN,1.00,14APR13:11:23:30
3,3,752,Number of Violent Crimes per 1000 Population,2009,9,Total,CA,6,California,NaN,...,174581.0,37230024.0,4.690000,4.670000,4.710000,0.010000,0.240000,NaN,1.00,14APR13:11:23:30
4,4,752,Number of Violent Crimes per 1000 Population,2010,9,Total,CA,6,California,NaN,...,163957.0,37615047.0,4.360000,4.340000,4.380000,0.010000,0.250000,NaN,1.00,14APR13:11:23:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7975,7975,752,Number of Violent Crimes per 1000 Population,2010,9,Total,RE,10,San Joaquin Valley,NaN,...,22761.0,3971659.0,5.730855,5.656402,5.805307,0.037986,0.662833,NaN,1.31,14APR13:11:23:30
7976,7976,752,Number of Violent Crimes per 1000 Population,2010,9,Total,RE,11,San Luis Obispo,NaN,...,717.0,269637.0,2.659131,2.464489,2.853772,0.099307,3.734568,NaN,0.61,14APR13:11:23:30
7977,7977,752,Number of Violent Crimes per 1000 Population,2010,9,Total,RE,12,Santa Barbara,NaN,...,1841.0,423895.0,4.343057,4.144664,4.541449,0.101221,2.330629,NaN,1.00,14APR13:11:23:30
7978,7978,752,Number of Violent Crimes per 1000 Population,2010,9,Total,RE,13,Shasta,NaN,...,1457.0,177223.0,8.221281,7.799132,8.643430,0.215382,2.619813,NaN,1.89,14APR13:11:23:30
7979,7979,752,Number of Violent Crimes per 1000 Population,2010,9,Total,RE,14,Southern California,NaN,...,75118.0,18051534.0,4.161308,4.131550,4.191067,0.015183,0.364861,NaN,0.95,14APR13:11:23:30

In [4]:
df["DATE OCC"] = pd.to_datetime(df["DATE OCC"])
filtered_df = df[
    (df["DATE OCC"] >= "2020-01-01") &
    (df["DATE OCC"] <= "2023-12-31")
]
filtered_df

,DATE OCC,TIME OCC,AREA,Rpt Dist No,Crm Cd Desc,Vict Age,Vict Sex,Premis Desc,Crm Cd 1,LAT,LON,Category,Time Interval
0,2020-03-01,21,7,784,VEHICLE - STOLEN,0,M,STREET,510.0,34.0375,-118.3506,Robbery,20:00-24:00
1,2020-02-08,18,1,182,BURGLARY FROM VEHICLE,47,M,BUS STOP/LAYOVER (ALSO QUERY 124),330.0,34.0444,-118.2628,Burglary,16:00-20:00
2,2020-11-04,17,3,356,BIKE - STOLEN,19,X,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",480.0,34.0210,-118.3002,Other Crimes,16:00-20:00
3,2020-03-10,20,9,964,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,CLOTHING STORE,343.0,34.1576,-118.4387,Other Crimes,20:00-24:00
4,2020-08-17,12,6,666,THEFT OF IDENTITY,28,M,SIDEWALK,354.0,34.0944,-118.3277,Fraud,12:00-16:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
876949,2023-03-22,10,16,1602,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",25,F,SIDEWALK,230.0,34.2790,-118.4116,Assault,08:00-12:00
876950,2023-09-25,22,17,1798,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",44,F,STREET,740.0,34.2302,-118.4764,Other Crimes,20:00-24:00
876951,2023-07-01,0,1,154,PICKPOCKET,24,F,NIGHT CLUB (OPEN EVENINGS ONLY),352.0,34.0467,-118.2485,Other Crimes,00:00-04:00
876952,2023-03-05,9,9,914,VANDALISM - MISDEAMEANOR ($399 OR UNDER),53,F,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",745.0,34.1951,-118.4487,Vandalism,08:00-12:00
876953,2023-11-09,23,3,395,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,38,M,SINGLE FAMILY DWELLING,331.0,34.0091,-118.3078,Robbery,20:00-24:00

In [5]:
filtered_df = filtered_df.sort_values(by="DATE OCC", ascending=False)
filtered_df

,DATE OCC,TIME OCC,AREA,Rpt Dist No,Crm Cd Desc,Vict Age,Vict Sex,Premis Desc,Crm Cd 1,LAT,LON,Category,Time Interval
820829,2023-12-31,9,15,1591,THEFT PLAIN - PETTY ($950 & UNDER),0,M,DRUG STORE,440.0,34.1436,-118.4072,Robbery,08:00-12:00
776620,2023-12-31,11,15,1513,CRIMINAL THREATS - NO WEAPON DISPLAYED,46,M,STREET,930.0,34.1912,-118.4036,Burglary,08:00-12:00
832808,2023-12-31,16,2,233,INTIMATE PARTNER - AGGRAVATED ASSAULT,26,F,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",236.0,34.0693,-118.2792,Other Crimes,16:00-20:00
787476,2023-12-31,9,18,1832,BRANDISH WEAPON,40,F,STREET,761.0,33.9401,-118.2761,Other Crimes,08:00-12:00
667825,2023-12-31,17,19,1921,BURGLARY,0,X,AUTO REPAIR SHOP,310.0,34.3098,-118.4729,Burglary,16:00-20:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
121821,2020-01-01,0,9,994,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",79,F,SINGLE FAMILY DWELLING,341.0,34.1370,-118.4324,Other Crimes,00:00-04:00
102676,2020-01-01,16,3,394,INTIMATE PARTNER - SIMPLE ASSAULT,61,M,SIDEWALK,626.0,34.0108,-118.3182,Other Crimes,16:00-20:00
115918,2020-01-01,15,3,303,BATTERY - SIMPLE ASSAULT,50,F,STREET,624.0,34.0339,-118.3557,Assault,12:00-16:00
132447,2020-01-01,10,6,637,THEFT OF IDENTITY,34,F,SINGLE FAMILY DWELLING,354.0,34.1017,-118.3224,Fraud,08:00-12:00
11955,2020-01-01,0,18,1834,CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 ...,12,F,SINGLE FAMILY DWELLING,812.0,33.9393,-118.2547,Other Crimes,00:00-04:00

In [6]:
pip install geopandas shapely

Requirement already satisfied: geopandas in /usr/local/python/3.12.1/lib/python3.12/site-packages (1.1.2)
Requirement already satisfied: shapely in /usr/local/python/3.12.1/lib/python3.12/site-packages (2.1.2)
Requirement already satisfied: numpy>=1.24 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from geopandas) (2.4.2)
Requirement already satisfied: pyogrio>=0.7.2 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from geopandas) (0.12.1)
Requirement already satisfied: packaging in /home/codespace/.local/lib/python3.12/site-packages (from geopandas) (25.0)
Requirement already satisfied: pandas>=2.0.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from geopandas) (3.0.0)
Requirement already satisfied: pyproj>=3.5.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from geopandas) (3.7.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas>=2.0.0->geopandas) (2.9.0.post0)
Requirement already satisfied: certifi in /home/codespace/.local/lib/python3.12/site-packages (from pyogrio>=0.7.2->geopandas) (2025.11.12)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=2.0.0->geopandas) (1.17.0)

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [10]:
import geopandas as gpd
from shapely.geometry import Point

# 1. Convert your DataFrame to a GeoDataFrame
# We create a 'geometry' column from LAT and LON
geometry = [Point(xy) for xy in zip(filtered_df['LON'], filtered_df['LAT'])]
gdf_crime = gpd.GeoDataFrame(filtered_df, geometry=geometry)

# Set the coordinate system to WGS84 (standard Lat/Lon)
gdf_crime.set_crs(epsg=4326, inplace=True)

# 2. Load a map of US Counties 
# This is a low-res map included with geopandas or available via URL
url = "https://www2.census.gov/geo/tiger/GENZ2020/shp/cb_2020_us_county_5m.zip"
counties = gpd.read_file(url)

# Filter for California (State FP '06') to keep it fast
ca_counties = counties[counties['STATEFP'] == '06'].to_crs(epsg=4326)

# 3. The "Spatial Join" - This is the magic part
# It checks which county polygon contains each crime point
joined = gpd.sjoin(gdf_crime, ca_counties[['NAME', 'geometry']], how='left', predicate='intersects')

# 4. Rename and cleanup
filtered_df['county'] = joined['NAME']
filtered_df

,DATE OCC,TIME OCC,AREA,Rpt Dist No,Crm Cd Desc,Vict Age,Vict Sex,Premis Desc,Crm Cd 1,LAT,LON,Category,Time Interval,county
820829,2023-12-31,9,15,1591,THEFT PLAIN - PETTY ($950 & UNDER),0,M,DRUG STORE,440.0,34.1436,-118.4072,Robbery,08:00-12:00,Los Angeles
776620,2023-12-31,11,15,1513,CRIMINAL THREATS - NO WEAPON DISPLAYED,46,M,STREET,930.0,34.1912,-118.4036,Burglary,08:00-12:00,Los Angeles
832808,2023-12-31,16,2,233,INTIMATE PARTNER - AGGRAVATED ASSAULT,26,F,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",236.0,34.0693,-118.2792,Other Crimes,16:00-20:00,Los Angeles
787476,2023-12-31,9,18,1832,BRANDISH WEAPON,40,F,STREET,761.0,33.9401,-118.2761,Other Crimes,08:00-12:00,Los Angeles
667825,2023-12-31,17,19,1921,BURGLARY,0,X,AUTO REPAIR SHOP,310.0,34.3098,-118.4729,Burglary,16:00-20:00,Los Angeles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121821,2020-01-01,0,9,994,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",79,F,SINGLE FAMILY DWELLING,341.0,34.1370,-118.4324,Other Crimes,00:00-04:00,Los Angeles
102676,2020-01-01,16,3,394,INTIMATE PARTNER - SIMPLE ASSAULT,61,M,SIDEWALK,626.0,34.0108,-118.3182,Other Crimes,16:00-20:00,Los Angeles
115918,2020-01-01,15,3,303,BATTERY - SIMPLE ASSAULT,50,F,STREET,624.0,34.0339,-118.3557,Assault,12:00-16:00,Los Angeles
132447,2020-01-01,10,6,637,THEFT OF IDENTITY,34,F,SINGLE FAMILY DWELLING,354.0,34.1017,-118.3224,Fraud,08:00-12:00,Los Angeles
11955,2020-01-01,0,18,1834,CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 ...,12,F,SINGLE FAMILY DWELLING,812.0,33.9393,-118.2547,Other Crimes,00:00-04:00,Los Angeles

In [16]:
filtered_df["county"].value_counts()

county
Los Angeles    874426
Name: count, dtype: int64

In [17]:
keywords = ["LAT", "LON"]

filtered_df = filtered_df.drop(columns=[col for col in filtered_df.columns if any(word in col for word in keywords)])

filtered_df

,DATE OCC,TIME OCC,AREA,Rpt Dist No,Crm Cd Desc,Vict Age,Vict Sex,Premis Desc,Crm Cd 1,Category,Time Interval,county
820829,2023-12-31,9,15,1591,THEFT PLAIN - PETTY ($950 & UNDER),0,M,DRUG STORE,440.0,Robbery,08:00-12:00,Los Angeles
776620,2023-12-31,11,15,1513,CRIMINAL THREATS - NO WEAPON DISPLAYED,46,M,STREET,930.0,Burglary,08:00-12:00,Los Angeles
832808,2023-12-31,16,2,233,INTIMATE PARTNER - AGGRAVATED ASSAULT,26,F,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",236.0,Other Crimes,16:00-20:00,Los Angeles
787476,2023-12-31,9,18,1832,BRANDISH WEAPON,40,F,STREET,761.0,Other Crimes,08:00-12:00,Los Angeles
667825,2023-12-31,17,19,1921,BURGLARY,0,X,AUTO REPAIR SHOP,310.0,Burglary,16:00-20:00,Los Angeles
...,...,...,...,...,...,...,...,...,...,...,...,...
121821,2020-01-01,0,9,994,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",79,F,SINGLE FAMILY DWELLING,341.0,Other Crimes,00:00-04:00,Los Angeles
102676,2020-01-01,16,3,394,INTIMATE PARTNER - SIMPLE ASSAULT,61,M,SIDEWALK,626.0,Other Crimes,16:00-20:00,Los Angeles
115918,2020-01-01,15,3,303,BATTERY - SIMPLE ASSAULT,50,F,STREET,624.0,Assault,12:00-16:00,Los Angeles
132447,2020-01-01,10,6,637,THEFT OF IDENTITY,34,F,SINGLE FAMILY DWELLING,354.0,Fraud,08:00-12:00,Los Angeles
11955,2020-01-01,0,18,1834,CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 ...,12,F,SINGLE FAMILY DWELLING,812.0,Other Crimes,00:00-04:00,Los Angeles

In [25]:
import pandas as pd 
import kagglehub
import os

path = kagglehub.dataset_download("thedevastator/violent-crime-in-ca")

print("Path to dataset files:", path)

# 2. Automatically find the CSV file in the path
files = [f for f in os.listdir(path) if f.endswith('.csv')]
if not files:
    raise FileNotFoundError("No CSV file found in the downloaded folder!")

csv_path = os.path.join(path, files[0])
print(f"Loading: {csv_path}")

# 3. Load the data
df = pd.read_csv(csv_path)
df

Path to dataset files: /home/codespace/.cache/kagglehub/datasets/thedevastator/violent-crime-in-ca/versions/2
Loading: /home/codespace/.cache/kagglehub/datasets/thedevastator/violent-crime-in-ca/versions/2/rows.csv

,index,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,...,numerator,denominator,ratex1000,LL_95CI,UL_95CI,se,rse,CA_decile,RR_city2state,version
0,0,752,Number of Violent Crimes per 1000 Population,2006,9,Total,CA,6,California,NaN,...,194116.0,36457549.0,5.320000,5.300000,5.350000,0.010000,0.230000,NaN,1.00,14APR13:11:23:30
1,1,752,Number of Violent Crimes per 1000 Population,2007,9,Total,CA,6,California,NaN,...,191013.0,36565220.0,5.220000,5.200000,5.250000,0.010000,0.230000,NaN,1.00,14APR13:11:23:30
2,2,752,Number of Violent Crimes per 1000 Population,2008,9,Total,CA,6,California,NaN,...,185172.0,36997046.0,5.010000,4.980000,5.030000,0.010000,0.230000,NaN,1.00,14APR13:11:23:30
3,3,752,Number of Violent Crimes per 1000 Population,2009,9,Total,CA,6,California,NaN,...,174581.0,37230024.0,4.690000,4.670000,4.710000,0.010000,0.240000,NaN,1.00,14APR13:11:23:30
4,4,752,Number of Violent Crimes per 1000 Population,2010,9,Total,CA,6,California,NaN,...,163957.0,37615047.0,4.360000,4.340000,4.380000,0.010000,0.250000,NaN,1.00,14APR13:11:23:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7975,7975,752,Number of Violent Crimes per 1000 Population,2010,9,Total,RE,10,San Joaquin Valley,NaN,...,22761.0,3971659.0,5.730855,5.656402,5.805307,0.037986,0.662833,NaN,1.31,14APR13:11:23:30
7976,7976,752,Number of Violent Crimes per 1000 Population,2010,9,Total,RE,11,San Luis Obispo,NaN,...,717.0,269637.0,2.659131,2.464489,2.853772,0.099307,3.734568,NaN,0.61,14APR13:11:23:30
7977,7977,752,Number of Violent Crimes per 1000 Population,2010,9,Total,RE,12,Santa Barbara,NaN,...,1841.0,423895.0,4.343057,4.144664,4.541449,0.101221,2.330629,NaN,1.00,14APR13:11:23:30
7978,7978,752,Number of Violent Crimes per 1000 Population,2010,9,Total,RE,13,Shasta,NaN,...,1457.0,177223.0,8.221281,7.799132,8.643430,0.215382,2.619813,NaN,1.89,14APR13:11:23:30
7979,7979,752,Number of Violent Crimes per 1000 Population,2010,9,Total,RE,14,Southern California,NaN,...,75118.0,18051534.0,4.161308,4.131550,4.191067,0.015183,0.364861,NaN,0.95,14APR13:11:23:30

In [26]:
df['county_name'].value_counts()

county_name
Los Angeles        710
Riverside          400
Tulare             340
Kern               300
Contra Costa       270
San Diego          270
San Bernardino     260
Plumas             240
Fresno             220
Orange             210
Sonoma             190
Humboldt           180
Sacramento         180
San Mateo          165
Marin              160
Stanislaus         160
Butte              155
Santa Cruz         155
Monterey           150
San Luis Obispo    150
San Joaquin        145
Santa Barbara      135
Merced             130
Santa Clara        125
Mendocino          120
Ventura            120
Shasta             115
Alameda            105
Inyo               105
Placer             105
Siskiyou           105
Tuolumne           100
Amador              90
Imperial            90
Tehama              90
Calaveras           85
Mono                85
Lake                80
Madera              80
El Dorado           75
Mariposa            75
Nevada              75
Lassen              70
Modoc               70
Yolo                70
Trinity             65
Kings               60
Napa                60
Sierra              60
Solano              60
Yuba                60
Colusa              50
Sutter              50
Del Norte           35
Alpine              30
Glenn               30
San Benito          25
San Francisco       10
Name: count, dtype: int64